@import url('https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,300;0,400;0,600;1,400&display=swap');

/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;
